.program-columns {
	height: 640px;
	background-size: cover;
	color: white;
}

#inno-program {
	background-image: url("/assets/images/irvine image.png");
}

#em-program {
	background-image: url("/assets/images/haas image.png");
}
