---
---

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" type="text/css" href="assets/css/splash.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/typed.css" />
	<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800' rel='stylesheet' type='text/css'>

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>


<body>
	<!-- BEGIN MAIN -->
	<div class="section-main" id="top">
		<div class="mini-container main-mini-container">
			<div class="title">
				<a href="#top" class="scroll img-link"><img class="logo" src="assets/images/gilogowhite.png" alt="Hue" /></a>
				<h1><span class="typed"></span></h1>
				<p>Our brand new site is almost ready to launch.<br />Please check back later or read more about us below.</p>
				<a href="/home/" id="entrance-link"><i id="arrow-right" class="fa fa-arrow-circle-right"></i>Enter</a>
			</div>
		</div>
		<div class="videoMuteButton" onclick="$('#bgndVideo').toggleVolume(); $('.videoButton.notmuted').toggleClass('mute');">
			<div class="videoButton notmuted"><i class="fa fa-volume-up"></i></div>
			<div class="videoButton muted"><i class="fa fa-volume-off"></i></div>
		</div>					
	</div>		
	<!-- END MAIN -->


<!-- BEGIN FOOTER -->
<div class="section footersection">
	<div class="mini-container">
		<div class="footer-container">
			<div class="footer-block">
				<!-- Social Icons -->
				<a href="{{ site.data.contact.twitter }}" target="_blank" class="footer-social"><i class="fa fa-fw fa-twitter"></i></a>
				<a href="{{ site.data.contact.facebook }}" target="_blank" class="footer-social"><i class="fa fa-fw fa-facebook"></i></a>
				<!-- End Social Icons -->
			</div>
			<div class="footer-spacer"></div>
			<div class="footer-block-middle">

			</div>
			<div class="footer-spacer"></div>
			<div class="footer-block">
				&#169 {{ site.copyright_year }} Global Innovation
			</div>
		</div>
	</div>
</div>
<!-- END FOOTER -->

<!-- Background Video container -->
<a id="bgndVideo" class="player"></a>

<!-- Loading Page Overlay -->
<div class="page-loading">
	<noscript><div class="noscript-error"><i class="fa fa-info-circle"></i>Enable JavaScript to see this site working properly.</div></noscript>
	<div id="floatingCirclesG">
		<div class="f_circleG" id="frotateG_01"></div>
		<div class="f_circleG" id="frotateG_02"></div>
		<div class="f_circleG" id="frotateG_03"></div>
		<div class="f_circleG" id="frotateG_04"></div>
		<div class="f_circleG" id="frotateG_05"></div>
		<div class="f_circleG" id="frotateG_06"></div>
		<div class="f_circleG" id="frotateG_07"></div>
		<div class="f_circleG" id="frotateG_08"></div>
	</div>
</div>

<!-- JAVASCRIPT -->

<!-- All set up / customisation variables for slideshow and video background etc. in custom.js file -->
<script src="/assets/js/vendor/jquery.js" type="application/javascript"></script>
<script type="text/javascript" src="assets/js/splash/custom.js"></script>
<script type="text/javascript" src="assets/js/splash/hue.js"></script>
<script type="text/javascript" src="assets/js/splash/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="assets/js/splash/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="assets/js/splash/placeholders.min.js"></script>
<script type="text/javascript" src="assets/js/splash/typed.js"></script>
<script>
  $(function(){
      $(".typed").typed({
        strings: [
        "Innovative", 
        "Diverse", 
        "Professional",
        "Transformative",
        "Global"
        ],
        typeSpeed: 100,
        startDelay: 1000,
        backSpeed: 80,
        loop: true
      });
  });
</script>


<script type="text/javascript">
	$(document).ready(function(){

				// No need to edit here - all settings in custom.js file

				if(videoBackground == 'on') {			
					if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
						$(".player").hide();
						$.backstretch(slideshowBackgroundURLS, {
							fade: slideshowFade,
							duration: slideshowDuration
						});
						$('.backstretch img').load(function(){
							$('.page-loading').delay(1000).fadeOut(1000);
						});
					}
					else {
						$(".player").mb_YTPlayer({
							videoURL: videoBackgroundURL,
							containment: 'body',
							autoPlay: true,
							mute: videoMuted,
							loop: true,
							startAt:0,
							opacity:1
						});
						$('#bgndVideo').on("YTPStart",function(){
							$('.page-loading').delay(1000).fadeOut(1000);
						});
						
						if(videoMuted == false) {
							$('.videoMuteButton').show();
						}
					}
				}
				else {
					$.backstretch(slideshowBackgroundURLS, {
						fade: slideshowFade,
						duration: slideshowDuration
					});
					$('.backstretch img').load(function(){
						$('.page-loading').delay(1000).fadeOut(1000);
					});
				}
				
				$("#countdown").countdown({ date: countdownDate	});
			});
</script>
</body>

</html>
