---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Using media queries with like this:
// $on-palm:          600px;
// $on-laptop:        800px;
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "settings",
        "foundation"
;

.programs {
	color: #657aa8 !important;
}

#main-side-nav {
	li {
		border-style: solid;
		border-width: rem-calc(0 0 1 0);
		border-color: #c0bbb1;
	}
}

#side-nav-container {
	border-style: solid;
	border-width: rem-calc(1 0 0 0);
	border-color: #c0bbb1;
}