---
layout: base
---

<div class="row">
    <div class="small-3 columns">
        <ul class="side-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/history">Company History</a></li>
            <li class="divider"></li>
            <li><a href="/programs/berkeleyhaas">UC Berkeley, Haas</a></li>
            <li><a href="/programs/irvine">UC Irvine</a></li>
            <li class="divider"></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

    <div class="small-9 columns">
        {{ content }}
    </div>
</div>