---
layout: base
---

<div class="row">
    <div class="small-3 columns">
        <ul class="side-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="divider"></li>
            <li><a href="/programs/global-innovation-program">Global Innovation Program</a></li>
            <li><a href="/programs/executive-management-program">Executive Management Program</a></li>
            <li class="divider"></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

    <div class="small-9 columns">
        {{ content }}
    </div>
</div>