---
layout: base
---

<div class="row content-wrapper">
    <div class="small-3 columns">
        <ul class="side-nav">
            <div id="globelogo"><a href="/"><img src="/assets/images/gilogo.png" alt="globelogo"></a></div>
            <div class="bar"></div>
            <li><a href="/home">Home</a></li>
            <div class="bar"></div>
            <li><a href="/about">About</a></li>
            <div class="bar"></div>
            <li class="divider"></li>
            <li><a href="/programs/global-innovation-program">Global Innovation Program</a></li>
            <div class="bar"></div>
            <li><a href="/programs/executive-management-program">Executive Management Program</a></li>
            <div class="bar"></div>
            <li class="divider"></li>
            <li><a href="/faq">FAQ</a></li>
            <div class="bar"></div>
            <li><a href="/contact">Contact</a></li>
            <div class="bar"></div>
        </ul>
    </div>

    <div class="small-9 columns">
        {{ content }}
    </div>
</div>

{% include footer.html %}